.block-tel {
  display: inline-block;

  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 10px;
  letter-spacing: 0.25px;
  vertical-align: top;
  color: @white-color;
}

@media @tablet-widths {

  .block-tel {
    font-weight: 900;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: normal;
  }

}

@media @desktop-widths {

  .block-tel {
    font-size: 16px;
    line-height: 16px;
  }

}

