.contacts {
  width: 290px;
  padding-top: 14px;
  padding-bottom: 45px;
  padding-left: 52px;
  padding-right: 52px;
  margin: 0 auto;

  background-image: url(../img/contact-us-img-mobile@1x.jpg);
  background-size: 290px 344px;
  background-repeat: no-repeat;
  background-position: center 0;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .contacts {
      background-image: url(../img/contact-us-img-mobile@2x.jpg);
    }
}

.contacts__title {
  margin-bottom: 3px;

  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  color: @white-color;
}

.contacts__content {
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
  color: @white-color;
}

@media @tablet-widths {

  .contacts {
    width: 520px;
    padding-top: 45px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;

    background-image: url(../img/contact-us-img-tablet@1x.jpg);
    background-size: 520px 547px;
    background-repeat: no-repeat;
    background-position: center 0;
  }

   @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .contacts {
        background-image: url(../img/contact-us-img-tablet@2x.jpg);
      }
   }

   .contacts__title {
    margin-bottom: 8px;

    font-size: 18px;
  }

  .contacts__content {
    margin-bottom: 19px;

    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    color: @white-color;
  }

}

@media @desktop-widths {

  .contacts {
    padding-top: 17px;
    margin: 0;
  }

}
