.main-header {
  height: 100vh;
  max-height: 570px;
  padding-top: 15px;
  background-color: #003333;
  background-image: url(../img/header-bg-img-mobile@1x.jpg);
  background-size: 767px 570px;
  background-position: 75% 0;
  background-repeat: no-repeat;
}

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .main-header {
    background-image: url(../img/header-bg-img-mobile@2x.jpg);
  }
}

.main-header__wrapper-title {
  position: relative;
}

.main-header__title {
  margin-top: 178px;
  margin-bottom: 8px;

  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 2.2px;
  font-family: "Book Antiqua", "Times New Roman", serif;
  text-align: center;
  text-transform: uppercase;
  color: @white-color;
}

.main-header__subtitle {
  position: relative;
  z-index: 5;

  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  color: @white-color;
}

.main-header__cost {
  position: relative;
  z-index: 2;

  margin-bottom: 57px;

  font-size: 7px;
  text-align: center;
  text-transform: uppercase;
  color: @white-color;

  span {
    font-weight: bold;
    font-size: 14px;
  }
}

.main-header__circle {
  position: absolute;
  z-index: -10;
  top: -27px;
  left: 50%;
  transform: translate(-50%, 0);

  width: 73px;
  height: 73px;

  background-color: @black-color;

  border-radius: 50%;
}

.main-header__lid {
  display: none;
}


@media screen and (min-width: 425px) and (max-width: 767px) {

  .main-header {
    height: 570px;
  }

}

@media @tablet-widths {

  .main-header {
    height: auto;
    max-height: 512;
    padding-top: 17px;
    padding-bottom: 110px;

    background-image: url(../img/header-bg-img-tablet@1x.jpg);
    background-size: 900px 512px;
    background-position: center 0;
    background-repeat: no-repeat;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .main-header {
      background-image: url(../img/header-bg-img-tablet@2x.jpg);
    }
  }

  .main-header__title {
    position: relative;
    z-index: 5;
    margin-top: 113px;
    margin-bottom: 11px;

    font-size: 46px;
    text-align: left;
    letter-spacing: 3px;
  }

  .main-header__subtitle {
    margin-bottom: 4px;
    margin-left: 103px;

    font-weight: 800;
    font-size: 13px;
    text-align: left;
    letter-spacing: 4px;
  }

  .main-header__cost {
    position: relative;
    margin-left: 25px;
    margin-bottom: 53px;

    font-size: 10px;
    text-align: left;

    span {
      font-size: 20px;
    }
  }

  .main-header__circle {
    top: -40px;
    left: -13px;
    transform: none;

    width: 104px;
    height: 104px;
  }

  .main-header__lid {
    display: block;
    width: 367px;
    margin-bottom: 17px;

    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.35px;
    color: @white-color;
  }

}

@media screen and (min-width: 901px) {

  .main-header {
    height: auto;
    max-height: 900px;
    padding-top: 17px;
    padding-bottom: 110px;

    background-image: url(../img/header-bg-img-desktop@1x.jpg);
    background-size: 1920px 900px;
    background-position: center 0;
    background-repeat: no-repeat;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .main-header {
      background-image: url(../img/header-bg-img-desktop@2x.jpg);
    }
  }

}

@media @desktop-widths {

  .main-header {
    max-height: 900px;
    padding-top: 30px;
    padding-bottom: 208px;
  }

  .main-header__title {
    margin-top: 255px;
    margin-bottom: 28px;

    font-size: 80px;
    letter-spacing: 4.5px;
  }

  .main-header__subtitle {
    margin-bottom: 4px;
    margin-left: 157px;

    font-size: 24px;
    letter-spacing: 7px;
  }

  .main-header__cost {
    position: relative;
    margin-left: 45px;
    margin-bottom: 102px;

    font-size: 16px;
    text-align: left;

    span {
      font-size: 36px;
    }
  }

  .main-header__circle {
    top: -70px;
    left: -28px;
    transform: none;

    width: 180px;
    height: 180px;
  }

  .main-header__lid {
    display: block;
    width: 436px;
    margin-bottom: 36px;

    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: @white-color;
  }

}
