.our-services {
  padding-top: 4px;
  padding-bottom: 25px;
  background-image: url(../img/white-bg.png);
}

.our-services__title {
  margin-top: 0;

  letter-spacing: 1.4px;
}

.our-services__item {
  width: 224px;
  height: 386px;
  margin: 0 auto;
  margin-bottom: 20px;

  img {
    display: block;
  }
}

.our-services__item-content {
  padding-top: 13px;
  padding-bottom: 33px;

  background-color: @white-color;
}

.our-services__item-title {
  margin-bottom: 5px;

  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #333333;
}

.our-services__item-content-inner {
  padding-left: 62px;
  padding-right: 62px;
}

.our-services__item-cost {
  margin-bottom: 16px;
  text-align: center;

  span {
    font-weight: 900;
    font-size: 14px;
    color: @black-color;
  }
}

.our-services__item-lead {
  display: none;
}

@media @tablet-widths {
  .our-services {
    padding-bottom: 70px;
  }

  .our-services__title {
    margin-bottom: 25px;
  }

  .our-services__items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }

  .our-services__item {
    margin: 0;
  }

}

@media @desktop-widths {

  .our-services {
    padding-bottom: 120px;
  }

  .our-services__title {
    margin-bottom: 40px;
    letter-spacing: 3px;
  }

  .our-services__item-bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 360px;
    height: 350px;

    background-color: transparent;
    transition: all 0.5s linear;
  }

  .our-services__item {
    position: relative;
    width: 360px;
    height: 622px;
    margin: 0;

    img {
      display: block;
    }
  }

  .our-services__item:hover .our-services__item-bg {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .our-services__item:hover .our-services__item-lead {
    color: transparent;
    transition: all 0.5s linear;
  }

  .our-services__item:hover .btn--reviews,
  .our-services__item:hover .btn--order {
    opacity: 1;
  }

  .our-services__item-content {
    position: relative;
    padding-top: 24px;
    padding-bottom: 43px;

    background-color: @white-color;
  }

  .our-services__item-title {
    margin-top: 15px;
    margin-bottom: 25px;

    font-size: 24px;
    letter-spacing: 2.2px;
  }

  .our-services__item-cost {
    margin-bottom: 22px;
    text-align: center;

    span {
      font-weight: 900;
      font-size: 24px;
      color: @black-color;
    }
  }

  .our-services__item-lead {
    display: block;
    margin-top: -5px;
    margin-bottom: 16px;

    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #666666;
  }

}
