.our-workflow {
  padding: 12px;
  padding-bottom: 5px;
  background-image: url(../img/white-bg.png);
}

.our-workflow__icon {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 28px;
  text-align: center;

  border: 1px solid #333333;
  border-radius: 50%;

  &--intrinsic-style-item4 {
    margin-bottom: 9px;
  }
}

.our-workflow__subtitle {
  margin-top: 0;
  margin-bottom: 4px;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  color: @black-color;
}

.our-workflow__content {
  width: 196px;
  margin: 0 auto;
  margin-bottom: 15px;

  line-height: 15px;
  text-align: center;

  &--intrinsic-style-item2 {
    width: 170px;
  }
}

.our-workflow__img {
  display: none;
}

@media @tablet-widths {

  .our-workflow {
    padding-top: 21px;
    padding-bottom: 2px;
  }

  .our-workflow__title {
    margin-bottom: 22px;
  }

  .our-workflow__inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
  }

  .our-workflow__item-wrapper:first-child {
    margin-right: 114px;
  }

  .our-workflow__item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .our-workflow__item--flex-start {
    align-items: flex-start;
  }

  .our-workflow__icon {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0;
    margin-bottom: 16px;

    font-size: 24px;
    line-height: 50px;
    text-align: center;

    border: 1px solid #333333;
    border-radius: 50%;
  }

  .our-workflow__subtitle {
    margin-top: 0;
    margin-bottom: 14px;

    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: @black-color;
  }

  .our-workflow__content {
    width: 261px;
    margin: 0;
    margin-bottom: 28px;

    font-size: 13px;
    line-height: 20px;
    text-align: right;
  }

  .our-workflow__content--text-align-left  {
    text-align: left;
  }

}

@media @desktop-widths {

  .our-workflow {
    padding-top: 50px;
    padding-bottom: 50px;
  }


  .our-workflow__title {
    margin-bottom: 44px;
  }

  .our-workflow__inner {
    justify-content: space-around;
    margin: 0 35px;
  }

  .our-workflow__item-wrapper {
    margin-top: 47px;
  }

  .our-workflow__img {
    display: block;
    width: 357px;
    height: 615px;
  }

  .our-workflow__item-wrapper:first-child {
    margin-right: 0;
  }

  .our-workflow__icon {
    margin-bottom: 8px;
  }

  .our-workflow__subtitle {
    margin-top: 0;
    margin-bottom: 13px;

    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: @black-color;
  }

  .our-workflow__content {
    width: 244px;
    margin: 0;
    margin-bottom: 85px;

    font-size: 16px;
    line-height: 24px;
    text-align: right;
  }

  .our-workflow__content--text-align-left  {
    text-align: left;
  }

}
