.social-links {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin: 0 30px;
  margin-bottom: 60px;
  list-style: none;
}

.social-links__item {
  display: inline-block;
  width: 30px;
  height: 30px;

  border: 1px solid @white-color;
  border-radius: 50%;

  &:hover {
    border-color: transparent;
  }
}

.social-links__icon {
  display: block;
  margin: 5px auto;

  &--vk {
    width: 18px;
    background-size: 18px;
  }

  &--inst {
    width: 18px;
    background-size: 18px;
  }

  &--fb {
    width: 18px;
    background-size: 18px;
  }
}
